#hiddenCanvas {
    width: 100%;
}

.hidden {
    display: none
}

#video.invisible,
#error-message.invisible,
#start-camera.invisible {
    display: none;
}

#video {
    width: 100%;
    object-fit: cover;
    z-index: 0;
}
