<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ext/bootstrap.min.css') }}">
    <style>
        @import url('{{ url_for('static', filename='css/int/login_page.css') }}');
    </style>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/cachengo_logo.png') }}" height="40" width="180" alt="cachengo logo">
      </a>
      <div class="navbar-nav">
        <ul class="nav navbar-nav navbar-right">
          <button class="btn btn-dark btn-lg" type="button" onclick="relocate('/login')">Login</button>
        </ul>
      </div>
    </nav>
    <div class="container">
       <div class="row signup-card p-4 my-4 align-items-center">
        <div class="col-lg-6">
          <div class="">
            <div id="vid_container">
              <video id="video" class="" autoplay playsinline></video>
              <canvas id="hiddenCanvas" class='hidden'></canvas>
            </div>
            <p id="error-message"></p>
          </div>
        </div>
         <div class="col-lg-6 ">
           <h3 class="text-center mb-3 color-cachengo">Sign Up</h3>
           <form class='mx-2'>
             <div class="form-group row">
               <label for="firstname">First Name</label>
               <input type="text" class="form-control" id="firstname" placeholder="Enter first name">
             </div>
             <div class="form-group row">
               <label for="lastname">Last Name</label>
               <input type="text" class="form-control" id="lastname" placeholder="Enter last name">
             </div>
             <div class="form-group row">
               <label for="email">Email</label>
               <input type="email" class="form-control" id="email" placeholder="Enter email address">
             </div>
             <button class="btn btn-dark btn-block btn-lg mt-5 orange" type="button" onclick="signUp()">Sign Up</button>
           </form>
         </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/ext/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/DetectRTC.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/adapter.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/int/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/int/navigation.js') }}"></script>
   
  </body>
</html>