<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ext/bootstrap.min.css') }}">
    <style>
        @import url('{{ url_for('static', filename='css/int/login_page.css') }}');
    </style>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between"">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/cachengo_logo.png') }}" height="30" width="119" alt="">
      </a>
      <div class="navbar-nav">
        <ul class="nav navbar-nav navbar-right">
          <button class="btn btn-dark btn-lg" type="button" onclick="relocate('/logout')">Log Out</button>
        </ul>
      </div>
    </nav>
    <div class="app container">
        <div class="row">
          Welcome {{ user.firstname }}!!! We have added {{ user.email }} to our favorite spam lists. To remove press the big red button below.
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/ext/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/int/navigation.js') }}"></script>
    </body>
</html>