<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Face Recognition</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ext/bootstrap.min.css') }}">
    <style>
        @import url('{{ url_for('static', filename='css/int/login_page.css') }}');
    </style>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light justify-content-between"">
      <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='img/cachengo_logo.png') }}" height="40" width="180" alt="cachengo logo">
      </a>
      <div class="navbar-nav">
        <ul class="nav navbar-nav navbar-right">
          <button class="btn btn-dark btn-lg" type="button" onclick="relocate('/logout')">Log Out</button>
        </ul>
      </div>
    </nav>
    <div class="app container">
      <div class="row p-4">
        Welcome {{ user.firstname }} to our small demonstration of Facial Recognition on Cachengo devices. If you can
        see this message it means that your device is currently running a simple webserver, a facial recognition server
        and a nearest-neighbor indexing database. We won't go over all the details in this message but what this means
        is that you are currently putting the device's networking, Arm Cortex processors and Mali GPU to work! All of
        this is currently running on only one of our devices. Imagine what you can do with 1000s of them.
        <br>
      </div>
      <div class="text-center">
        <button class="btn btn-danger btn-lg" type="button" onclick="relocate('/delete')">Delete Account</button>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/ext/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/ext/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/int/navigation.js') }}"></script>
    </body>
</html>